.sub-categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sub-category-item {
  cursor: pointer;
  padding-left: 20px;
  transition: color 0.3s;
}

.sub-category-item:hover {
  color: #555;
}