body {
    margin: 0;
    padding: 0;
}

.header-container {
    position: fixed; /* 헤더를 화면 상단에 고정 */
    top: 0;
    width: 100%; /* 헤더가 전체 너비를 차지하도록 설정 */
    height: 100px;
    background-color: white; /* 배경색을 설정하여 뒤의 내용이 보이지 않도록 함 */
    z-index: 1000; /* 다른 콘텐츠 위에 위치하도록 z-index 설정 */
    border-bottom: 1px solid black;
}

.menu {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px; /* 여백을 추가하여 보기 좋게 만듦 */
}

.menu a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}