<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalab.board.repository.CartItemRepository">
    <select id="findItemsByCartId" resultType="com.javalab.board.vo.CartItemVO">
        SELECT * FROM cart_item WHERE cart_id = #{cartId}
    </select>

    <insert id="insertCartItem" useGeneratedKeys="true" keyProperty="cartItemId">
        INSERT INTO cart_item (cart_id, item_id, count) VALUES (#{cartId}, #{itemId}, #{count})
    </insert>

    <update id="updateCartItem">
        UPDATE cart_item SET count = #{count} WHERE cart_item_id = #{cartItemId}
    </update>

    <delete id="deleteCartItem">
        DELETE FROM cart_item WHERE cart_item_id = #{cartItemId}
    </delete>

    <delete id="deleteAllCartItems">
        DELETE FROM cart_item WHERE cart_id = #{cartId}
    </delete>
</mapper>