<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalab.board.repository.CartRepository">

    <select id="findByMemberId" resultType="com.javalab.board.vo.CartVO">
        SELECT * FROM cart
        WHERE member_id = #{memberId}
        LIMIT 1
    </select>

    <insert id="insertCart" parameterType="com.javalab.board.vo.CartVO" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO cart (member_id) VALUES (#{memberId})
    </insert>

    <delete id="deleteCart">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

</mapper>