<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼XML : Category 에 대한 모든 쿼리문 보관 -->
<mapper namespace="com.javalab.board.repository.CategoryMapper">
	<select id="findCategories" resultType="CategoryFormDTO">
		SELECT category_id as categoryId, category_name as categoryName, parent_id as parentId
		FROM category
		WHERE (#{parentId} = 0 AND parent_id IS NULL) OR parent_id = #{parentId}
	</select>
</mapper>