<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalab.board.repository.OrderRepository">

    <resultMap id="orderResultMap" type="com.javalab.board.vo.Order">
        <id property="orderId" column="order_id"/>
        <result property="memberId" column="member_id"/>
        <result property="regdate" column="regdate"/>
        <result property="orderAmount" column="order_amount"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderStatus" column="order_status"/>
        <collection property="orderItems" ofType="com.javalab.board.vo.OrderItem">
            <id property="orderItemId" column="order_item_id"/>
            <result property="itemId" column="item_id"/>
            <result property="count" column="count"/>
            <result property="orderPrice" column="order_price"/>
        </collection>
    </resultMap>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders (member_id, order_amount, order_date, order_status)
        VALUES (
        #{memberId},
        #{orderAmount},
        #{orderDate},
        CASE #{orderStatus}
        WHEN '결제확인' THEN '결제확인'
        WHEN '상품준비중' THEN '상품준비중'
        WHEN '배송중' THEN '배송중'
        WHEN '취소' THEN '취소'
        ELSE '결제확인'
        END
        )
    </insert>

    <select id="getOrderById" resultMap="orderResultMap">
        SELECT * FROM orders WHERE order_id = #{orderId}
    </select>

    <select id="getOrdersByMemberId" resultMap="orderResultMap">
        SELECT * FROM orders WHERE member_id = #{memberId}
    </select>

    <update id="updateOrderStatus">
        UPDATE orders
        SET order_status = #{status}
        WHERE order_id = #{orderId}
    </update>

    <select id="findOrdersForMemberAfterDate" resultMap="orderResultMap">
        SELECT o.*, oi.*
        FROM orders o
        LEFT JOIN order_item oi ON o.order_id = oi.order_id
        WHERE o.member_id = #{memberId} AND o.order_date >= #{startDate}
        ORDER BY o.order_date DESC
    </select>

    <insert id="insertOrderItems" parameterType="java.util.List">
        INSERT INTO order_item (order_id, item_id, count, order_price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.itemId}, #{item.count}, #{item.orderPrice})
        </foreach>
    </insert>

    <insert id="insertOrderItem">
        INSERT INTO order_item (order_id, item_id, count, order_price)
        VALUES (#{orderId}, #{itemId}, #{count}, #{orderPrice})
    </insert>

</mapper>